<% content_for :body_class, 'body' %>

<%= form_with(model: trip) do |form| %>
  <% if trip.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(trip.errors.count, "erro") %> impediu que esta viagem fosse salva:</h2>

      <ul>
        <% trip.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :departure_location, "Local de Partida:", style: "display: block" %>
    <%= form.text_field :departure_location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :arrival_location, "Local de Chegada:", style: "display: block" %>
    <%= form.text_field :arrival_location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :departure_date, "Data de Partida:", style: "display: block" %>
    <%= form.date_field :departure_date, class: "form-control smaller-input" %>
  </div>

  <div class="form-group">
    <%= form.label :arrival_date, "Data de Chegada:", style: "display: block" %>
    <%= form.date_field :arrival_date, class: "form-control smaller-input" %>
  </div>

  <div class="form-group">
    <%= form.label :departure_time, "Hora de Partida:", style: "display: block" %>
    <%= form.time_field :departure_time, class: "form-control smaller-input"  %>
  </div>

  <div class="form-group">
    <%= form.label :arrival_time, "Hora de Chegada:", style: "display: block" %>
    <%= form.time_field :arrival_time, class: "form-control smaller-input"  %>
  </div>

  <div class="form-group">
    <%= form.label "Tipo de Viagem:", style: "display: block" %>
    <%= form.select :trip_type, [['Solicitada', 'Solicitada'], ['Oferecida', 'Oferecida']], { include_blank: false }, class: "form-control smaller-input"  %>
  </div>

  <div class="form-group">
    <%= form.submit "Enviar", class: "btn btn-primary" %>
  </div>
<% end %>

