<div id="<%= dom_id trip %>">
  <p>
    <strong>Departure location:</strong>
    <%= trip.departure_location %>
  </p>

  <p>
    <strong>Arrival location:</strong>
    <%= trip.arrival_location %>
  </p>

  <p>
    <strong>Departure date:</strong>
    <%= trip.departure_date %>
  </p>

  <p>
    <strong>Arrival date:</strong>
    <%= trip.arrival_date %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= trip.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= trip.arrival_time %>
  </p>

  <p>
    <strong>Trip type:</strong>
    <%= trip.trip_type %>
  </p>

  <p>
    <strong>User:</strong>
    <%= trip.user.name %>
  </p>

  <p>
    <strong>Participants:</strong>
    <%= trip.participants.join(', ') %>
  </p>

</div>
